<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
    <UapAppxPackageBuildMode>SideloadOnly</UapAppxPackageBuildMode>
    <AppxBundle>Never</AppxBundle>
    <AppxPackageSigningEnabled>false</AppxPackageSigningEnabled>
    <AppxPackageDir>..\artifacts\msix\x64\</AppxPackageDir>
  </PropertyGroup>
</Project>
